.convos {
  flex: 3;
  /* background-color: #d6d4d4; */
  /* border-left: 2px solid white; */
}

.wrapper {
  height: 100%;
}

.convo {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
}

.convo:hover {
  background-color: #b9bcc4;
}

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.lastMessage {
  width: 0;
  flex-grow: 1;
  font-size: smaller;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(151, 151, 151);
}
