.userProfile {
  display: flex;
  height: calc(100vh - 60px);
  animation: pageOpening 1s ease-in-out;
}

.userNotFound {
  text-align: center;
  margin-top: 30vh;
}
.userNotFound div {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.301);
}
.userNotFound a {
  font-size: 30px;
  text-decoration: none;
  color: #9f5ccc67;
}
.userNotFound a:hover {
  color: #38015c96;
}

.userInfo {
  /* background: linear-gradient(to bottom, #543b68, #d4acee); */
  /* background-color: #9364af; */
  background-color: rgb(245, 245, 245);
  flex: 1;
  height: 100%;
  padding: 0 10px;
}

.infoField {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoField .avatar {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.322);
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}

.infoField .avatar div {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 10px;
}

.icons {
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.infoField .icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  filter: invert(50%);
}

.infoField .icon:hover {
  filter: none;
}

.infoField .nameField {
  font-size: 25px;
  color: #4a2a64;
  word-spacing: 0.3em;
  letter-spacing: 2px;
  margin-top: 5px;
}

.infoField .label {
  font-size: 15px;
  color: #9b8fa5;
}

.userDetails {
  flex: 3;
  overflow-y: scroll;
  background-color: rgb(245, 245, 245);
  /* box-shadow: inset 4px 7px 10px rgba(0, 0, 0, 0.226); */
}

/* .userDetails .label {
  width: 95%;
  margin: auto;
  border-bottom: 3px solid #543b68;
  font-size: 30px;
  font-weight: bold;
  color: #543b68;
} */

.userDetails .descriptionField {
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  width: 90%;
  max-width: 800px;
  min-height: 200px;
  margin-top: 20px;
  padding: 15px;
}

.userDetails .usernameField {
  font-weight: bold;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userDetails .distanceField {
  font-weight: bold;
  color: #979797;
  font-size: 15px;
  margin-bottom: 20px;
}

.userDetails .intField {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.intField .interestOption {
  margin: 0.5em 1em;
  border-radius: 2px;
  font-size: 15px;
  width: min-content;
  background-color: #b399ca;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
}

.additional {
  margin-top: 20px;
}

.additional .label {
  width: 100%;
  font-size: 25px;
  border-bottom: 2px solid #543b68;
}

.likeButton {
  display: inline-block;
}

.matchField {
  margin: auto;
  background: #ffffff;
  /* box-shadow: 1px 1px 10px #00000062; */
  /* border-radius: 10px; */
  border: 1px solid rgb(219, 219, 219);
  width: fit-content;
  padding: 15px;
  margin-bottom: 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.matchField div {
  text-align: center;
  /* font-size: 20px; */
  /* color: #646168; */
  font-weight: bold;
  font-size: 25px;
}

/* .matchField .matchHeart {
  width: 20px;
  height: 20px;
  filter: hue-rotate(280deg);
} */

.matchField .cancelMatch {
  padding: 0 10px;
  font-size: 15px;
  font-weight: unset;
  color: #9f5ccc;
}

.matchField .cancelMatch:hover {
  cursor: pointer;
  color: #38015c;
}

.additional .score {
  font-size: 40px;
  font-weight: bold;
  color: #827092;
  display: inline-grid;
}
.score .num {
  position: relative;
  padding: 0 10px;
}
.score .denum {
  grid-column: 2;
  grid-row: 2;
  padding: 0 10px;
}
.score .num:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  bottom: -50%;
  width: 2px;
  background: #827092;
  transform: rotate(45deg);
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}

.status-label {
  margin-left: 7px;
  color: white;
  vertical-align: middle;
}

.background {
  z-index: 150;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  animation: pageOpening 0.3s ease-in forwards;
}

.imageSlider {
  background-color: rgba(0, 0, 0, 0.212);
  padding: 20px 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: 160;
  animation: pageOpening 0.3s ease-in forwards;
}

@keyframes pageOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
