.images-field {
  flex: 1;
  min-width: fit-content;
  margin: 20px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  padding: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}

.td-main {
  padding: 0;
  width: 350px;
  height: 350px;
}

.td-small {
  padding: 0;
  width: 175px;
  height: 175px;
}

.img-field-main {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-out 0.1s;
  background-color: #332e36;
}

.img-field-small {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-out 0.2s;
  background-color: #332e36;
}

.img-field-main:hover,
.img-field-small:hover {
  filter: brightness(60%);
  box-shadow: inset 0 -5em 5em -5em #000000;
  -moz-box-shadow: inset 0 -5em 5em -5em #000000;
  -webkit-box-shadow: inset 0 -5em 5em -5em #000000;
}

.label-img {
  width: 100%;
  height: 100%;
  color: #494949;
  font-size: 60px;
  line-height: 20px;
  font-weight: 100;
  text-align: center;
}

.plus {
  display: inline-block;
  background: linear-gradient(#919191, #919191) content-box,
    linear-gradient(#919191, #919191) content-box;
  background-position: center;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
}

.plus.main {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 150px;
}

.plus.small {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 75px;
}

.cross {
  position: absolute;
  border: 2px solid #c52b2b;
  transform: translate(-50%, -125%);
  border-radius: 50%;
  background-color: #c52b2b48;
  color: #c52b2b;
  font-family: Arial, sans-serif;
}

.cross.main {
  height: 40px;
  width: 40px;
  font-size: 50px;
  line-height: 0;
  padding: 0;
}

.cross.small {
  height: 30px;
  width: 30px;
  font-size: 33px;
  line-height: 0;
  padding: 0;
}

.cross:hover {
  background-color: #c52b2b;
  color: white;
  cursor: pointer;
}
