.visits {
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
}

.visitsTitle {
  font-weight: bold;
  color: #8969a1;
  font-size: 12px;
  margin-bottom: 5px;
}

.visits div {
  display: flex;
  overflow-x: auto;
}

.visitOption img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin: 0 3px;
  filter: grayscale(70%);
  transition: linear 300ms;
}

.visitOption img:hover {
  filter: grayscale(0);
}

.noVisit {
  height: 40px;
  color: rgba(0, 0, 0, 0.377);
  font-weight: bold;
  cursor: default;
}

.noLike {
  margin-top: 30px;
  height: 40px;
  color: rgba(0, 0, 0, 0.295);
  font-weight: bold;
  cursor: default;
  font-size: 30px;
}

.noBlock {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.295);
  font-weight: bold;
}

.listField {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.listTitle {
  border-bottom: 2px solid #8969a1;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #8969a1;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listOption {
  text-decoration: none;
  margin: 5px 10px;
  color: #6b6b6b;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  transition: linear 300ms;
}

.listOption:last-child {
  margin-bottom: 20px;
}

.listOption:hover {
  background-color: #d3b2e95b;
}

.listOption span {
  flex: 1;
  font-size: 20px;
}

.listOption img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.listOption button {
  border: none;
  background: none;
  font-size: 17px;
  color: #9f5ccc;
}

.listOption button:hover {
  cursor: pointer;
  color: #38015c;
}
