.profilePage {
  margin-left: 80px;
  margin-right: 15px;
  display: flex;
  animation: profileOpening 1s linear forwards;
}

.profilePage.likes {
  flex-direction: column;
}

.settingsField {
  background: white;
  width: 90%;
  height: fit-content;
  min-height: 60vh;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.settingsField h1 {
  color: #8969a1;
}

.bioField {
  border: 1px solid black;
  text-align: left;
}

.bioField textarea {
  resize: none;
  border: none;
  outline: none;
}

.counter {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

@keyframes profileOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
