.profilePage {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  animation: profileOpening 1s linear forwards;
}

.settingsField {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interactionsField {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes profileOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
