.edit-settings {
  flex: 1;
  margin: 20px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
}

.edit-settings .header {
  font-weight: normal;
  color: #949494;
  text-align: left;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 25px;
  font-size: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: fit-content;
  white-space: nowrap;
}

.edit-settings .header .headerLabel {
  margin-right: 10px;
}

.edit-settings .header .save {
  font-size: 17px;
  color: #b571e2;
}

.edit-settings .header .loading,
.edit-settings .header .loading {
  color: #dcc5ec;
  font-size: 17px;
  cursor: default;
}

.edit-settings .header .save:hover {
  color: #38015c;
  cursor: pointer;
}

.edit-settings .formSettings {
  padding: 20px;
  height: 80%;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: left;
}

.settings input {
  flex: 2;
  font: inherit;
  border: none;
  width: 100%;
  border-bottom: 1px solid #b9b9b9;
  padding: 0px;
  height: 2rem;
  background-color: transparent;
}

.settings input:focus {
  outline: none;
  background-color: transparent;
}

.settings input.error {
  box-shadow: 0 0 0px 1000px rgb(253, 190, 190) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgb(253, 190, 190) inset;
  -moz-box-shadow: 0 0 0px 1000px rgb(253, 190, 190) inset;
}

.settings input::placeholder {
  font-size: 15px;
  color: rgb(192, 192, 192);
}

.error {
  color: rgb(223, 45, 45);
  font-size: 12px;
}

input.error::placeholder {
  font-size: 15px;
  color: rgb(230, 124, 124);
}

.label {
  flex: 1;
  font-weight: bold;
  color: #8969a1;
  margin-right: 10px;
  text-align: left;
}

.passInfo {
  font-size: 10px;
}

/*** BioForm ***/
.bioField {
  width: 100%;
  position: relative;
  min-height: 200px;
  flex: 1;
}

.bioField textarea {
  padding: 10px;
  width: 100%;
  height: calc(100% - 25px);
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 18px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

.bioField .counter {
  position: absolute;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.418);
  bottom: 0;
  right: 0;
  margin: 5px 10px;
}

/*** InterestsForm ***/
.header input[type="text"] {
  width: 100%;
  flex: 1;
  margin-right: 10px;
  border: none;
  outline: none;
  font-size: 30px;
  box-sizing: border-box;
}

.header input[type="text"]::placeholder {
  color: #949494;
}

.btnPlus {
  text-align: center;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 27px;
  color: white;
  background-color: #d0c8d6;
  transition: all linear 300ms;
}

.btnPlus.active {
  background-color: indigo;
  cursor: pointer;
}

.interestsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.interestOption {
  margin: 0.5em 1em;
  border-radius: 2px;
  font-size: 15px;
  width: min-content;
  display: flex;
  background-color: #e4e4e4;
  color: #6b6b6b;
  line-height: 1rem;
}

.interestOption div {
  padding: 5px;
  cursor: default;
}

.interestOption .intButton {
  border-radius: 2px;
  border: none;
  font-size: 15px;
  color: #6b6b6b;
  background-color: transparent;
}

.interestOption .intButton:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.514);
}

.noInterest {
  font-size: 18px;
  color: #929292;
  padding: 10px;
}

/*** AgeForm ***/
.ageForm {
  padding: 20px;
}

.ageForm .ageHeader {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ageForm .ageHeader div {
  font-size: 20px;
}

.ageForm .ageSlider {
  width: 90%;
  margin: auto;
}
