.label {
  margin: 5px 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.label div {
  white-space: nowrap;
  font-size: 12px;
  color: #9f5ccc;
}

.label div:hover {
  color: #754396;
  cursor: pointer;
}

.label h1 {
  margin: 0;
  color: #8354a3;
}

.filters {
  height: 100%;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.336);
}

.ageRange {
  margin-left: 25px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #9b9b9b;
}

.ageRange:last-child {
  border: none;
}
