.container {
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  line-height: 1;
  margin: 5px;
}

.profile-card-2 {
  display: flex;
  width: 200px;
  height: 250px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to top, #332e36, #5f5664);
  box-shadow: 5px 5px 20px rgba(61, 61, 61, 0.644);
  animation: usersOpening 1s ease-in;
  border-radius: 5px;
}

.profile-card-2 img {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  filter: brightness(70%) grayscale(50%);
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  transition: all linear 0.25s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.profile-card-2 .profile-location {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: #fff;
  font-size: 12px;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-detailed {
  opacity: 0;
  left: 50px;
  position: absolute;
  bottom: 12px;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-detailed a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.profile-card-2 .profile-detailed a:hover {
  color: #d3b2e9;
}

.profile-card-2:hover img {
  filter: none;
}

.profile-card-2:hover .profile-username {
  bottom: 55px;
}

.profile-card-2:hover .profile-location {
  bottom: 35px;
}

.profile-card-2:hover .profile-detailed {
  opacity: 1;
}

.status {
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}

@keyframes usersOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
